workflows/csv-data-analyser.json
{
  "name": "CSV Data Analyser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csv-analyser",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a7db7b46-433f-4f66-99a8-1a259e043cea",
      "name": "Webhook",
      "webhookId": "25029a5f-8cfe-44d4-8c3a-78624f6a1f0a"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst csvText = body.csv_data || '';\nconst question = body.question || 'Analyse this data and provide key insights';\n\nif (!csvText) {\n  return {\n    error: 'No CSV data provided',\n    usage: 'POST with {\"csv_data\": \"col1,col2\\\\nval1,val2\", \"question\": \"your question\"}'\n  };\n}\n\n// Parse CSV\nconst lines = csvText.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.trim());\nconst rows = lines.slice(1).map(line => {\n  const values = line.split(',').map(v => v.trim());\n  const row = {};\n  headers.forEach((h, i) => { row[h] = values[i] || ''; });\n  return row;\n});\n\n// Build summary for Groq\nconst summary = `Dataset: ${rows.length} rows, ${headers.length} columns\nColumns: ${headers.join(', ')}\nFirst 5 rows:\n${lines.slice(1, 6).join('\\n')}`;\n\nconst prompt = `${question}\n\n${summary}\n\nProvide:\n1. Key patterns or trends\n2. Notable outliers or anomalies  \n3. Top 3 actionable insights\n4. Data quality observations`;\n\n// Call Groq\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer groqAPIKey',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.2,\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a senior data analyst. Analyse CSV data and provide clear, actionable insights. Be specific with numbers and percentages where possible.'\n      },\n      {\n        role: 'user',\n        content: prompt\n      }\n    ]\n  },\n  json: true\n});\n\nreturn {\n  question: question,\n  rows_analysed: rows.length,\n  columns: headers,\n  insights: response.choices[0].message.content,\n  analysed_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "af29743a-f19d-4082-93fe-a8bc6032db33",
      "name": "Analyse CSV"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "36e73c00-4840-4548-ac0a-72aec0394075",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse CSV": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d0b9924-9fde-4d96-a62f-c6d1bf8a0fcd",
  "meta": {
    "instanceId": "c2aa833116d0a7cf3205701ed105661bc13054a047475d61262a5748967a73fd"
  },
  "id": "8qmM5ZI65R8P8Oo0",
  "tags": []
}