workflows/daily-ai-news-digest.json
{
  "name": "Daily AI News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -112
      ],
      "id": "50f0e045-aaad-4dc9-bc8b-f87e9c176223",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=artificial+intelligence+AI&language=en&sortBy=publishedAt&pageSize=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        -112
      ],
      "id": "703d0413-d86f-4241-a3b0-c19b69783f2d",
      "name": "Fetch AI News",
      "credentials": {
        "httpQueryAuth": {
          "id": "Olg4N0GXCKWU88uT",
          "name": "NewsAPI Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst articles = inputData.articles || inputData.body?.articles || [];\n\nif (articles.length === 0) {\n  return {\n    digest: \"No articles found today.\",\n    date: new Date().toDateString(),\n    story_count: 0,\n    generated_at: new Date().toISOString()\n  };\n}\n\nconst stories = articles.slice(0, 5).map((a, i) => ({\n  index: i + 1,\n  title: (a.title || \"No title\")\n    .replace(/[\\u201C\\u201D\\u2018\\u2019]/g, \"'\")\n    .replace(/\"/g, \"'\"),\n  source: a.source?.name || \"Unknown\",\n  description: (a.description || a.content || \"No description\")\n    .replace(/[\\u201C\\u201D\\u2018\\u2019]/g, \"'\")\n    .replace(/\"/g, \"'\"),\n  url: a.url || \"\"\n}));\n\nconst storiesText = stories\n  .map(s => `${s.index}. ${s.title} (${s.source}) ${s.description}`)\n  .join(' | ');\n\nconst prompt = 'Summarise these AI news stories in 2 sentences each as a numbered list: ' + storiesText;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer grokAPIKey',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.3,\n    messages: [\n      {\n        role: 'system',\n        content: 'You are an AI news editor. Write 2 sentences per story. Format as numbered list.'\n      },\n      {\n        role: 'user',\n        content: prompt\n      }\n    ]\n  },\n  json: true\n});\n\nreturn {\n  digest: response.choices[0].message.content,\n  date: new Date().toDateString(),\n  story_count: stories.length,\n  stories: stories.map(s => ({ title: s.title, url: s.url })),\n  generated_at: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -112
      ],
      "id": "aa9c9392-3138-450f-b71b-b860e8a7827a",
      "name": "Extract Stories"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch AI News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI News": {
      "main": [
        [
          {
            "node": "Extract Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Stories": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4307c51f-da76-46a4-ab70-debd247f99cf",
  "meta": {
    "instanceId": "c2aa833116d0a7cf3205701ed105661bc13054a047475d61262a5748967a73fd"
  },
  "id": "Dw9UbUbWTaWqIf5o",
  "tags": []
}